*{
    padding: 0;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
html{
    font-size: 10px;
    overflow-x: hidden;
}
table{
    display: flex;
    justify-content: center;
}
table,td,tr{
    margin: 10px;
    padding: 25px;
    border:1px solid white;
    border-collapse: collapse;
}
.suite{
    background-color: #F2E3D5;
    font-size: 2rem;
    font-weight: 600;
    color: #012E40;
}
.debut{
    background-color: #012E40;
    font-size: 2rem;
    font-weight: 600;
    color: white;
}
footer{
    background: linear-gradient(30deg,#024959,#3CA6A6);
}